<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book extended</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	
	<div class="container">	
		
			<h3>Payment Done</h3>
			<h2>Thank You !</h2>
			<h2>Continue the Explore</h2>
			<br/>
		
		<div class="row">	
			<form action="/user/yourbooks" method="GET">
				<input style="width: 200px" type="submit" value="Ok">		
			</form>
		</div>
	</div>

</body>
</html>